# Listen {{ site_port }}

<VirtualHost *:{{ site_port }}>
    DocumentRoot /var/www/{{ site_name }}
    DirectoryIndex index.php

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>